@media screen and (max-width: 400px) {
  .intro-container h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .img-box img {
    width: 50%;
    min-width: 300px;
    object-fit: cover;
  }
  .intro-container input,
  .intro-container select {
    width: 100%; /* Set width to 100% for smaller screens */
  }

  .chat-container {
    margin-top: 0px;
  }
  .messages {
    height: 88% - 30px; /* Adjust height for smaller screens */
  }

  .kakao-ad {
    margin-top: 5px;
  }
}
